body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
  height: 100%;
}

header {
  background-color: navy;
  color: white;
  text-align: center;
  padding: 2rem 0;
  position: relative;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  position: relative;
}

nav ul li a:hover {
  color: red;
}

nav ul li a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover:before {
  visibility: visible;
  width: 100%;
}

main {
  padding: 2rem;
}

h1, h2 {
  animation: fadeInDown 0.5s forwards;
  opacity: 0;
}

@keyframes fadeInDown {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

footer {
  background-color: red;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
      gap: 10px;
  }

  nav ul li a {
      font-size: 1.2rem;
  }
}
